/* body{
    background-color: azure;
} */

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100vh;
    z-index: -1;
    display: none;
  }

  #home-video {
    display: block;
}

  #main {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 
    -0.7px -0.7px 0 black,  
     0.7px -0.7px 0 black,
    -0.7px  0.7px 0 black,
     0.7px  0.7px 0 black; 
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    letter-spacing: 0.4px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;

}

.row h2 {
    font-size: 34px;
    letter-spacing: 0.4px;
}

.row p {
    font-size: 23px;
}

label {
    font-size: 19px;
}

#zipcode {
    width: 100px;
    text-align: center;
    font-size: 18px;
}

#getWeatherButton {
    font-size: 18px;
}

.fade-in {
    animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}