body{
    background-color: azure;
}

#main {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 77px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 77px;
}

.row h2 {
    font-size: 32px;
    letter-spacing: 1px;
}

.row p {
    font-size: 16px;
}

#zipcode {
    width: 50px;
}

